<header>
    <mat-toolbar class="stig-browser-header" color="primary">
        <img class="panel-list-icons" src="/assets/images/shield-green-check.svg" alt="brown-bag-image">        <span id="app-name">STIG Browser</span>
        <span class="toolbar-spacer"></span>
        <button id="profile-menu-button"
            mat-icon-button aria-label="Profile menu"
            [matMenuTriggerFor]="menu"
            >
            <fa-icon id="profile-menu-icon-button" [icon]="faUserCircle" size="2x"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a>
                <button mat-menu-item (click)="login()">
                    <fa-icon class="menu-list-icons" [icon]="faIdCard" size="lg"></fa-icon>
                    Login
                </button>
            </a>
           <a>
                <button mat-menu-item (click)="login()">
                    <fa-icon class="menu-list-icons" [icon]="faSignOutAlt" size="lg"></fa-icon>
                    Logout
                </button>
            </a>
            <!--  <mat-divider></mat-divider>
            <a href="" target="_blank">
                <button mat-menu-item>
                    <fa-icon class="menu-list-icons" [icon]="faInfoCircle" size="lg"></fa-icon>
                    About
                </button>
            </a>
            <a href="" target="_blank">
                <button mat-menu-item>
                    <fa-icon class="menu-list-icons" [icon]="faEnvelope" size="lg"></fa-icon>
                    Contact
                </button>
            </a>
            <a href="" target="_blank">
                <button mat-menu-item>
                    <fa-icon class="menu-list-icons" [icon]="faQuestionCircle" size="lg"></fa-icon>
                    Help
                </button>
            </a> -->
        </mat-menu>
    </mat-toolbar>
</header>
